body{
    background-color:#ebeef4;
}
#left{width: 20%;float: left;border: 1px solid pink;}
#right{width: 79%;float: right;}
#roomHienTai{background-color: gray;width: 300px;float: right;color: white;}