<html>

<head>
    <title>
        hello ejs template
        
    </title>
    <link rel="stylesheet" href="/assets/style.css " type="text/css">
</head>
<body>
    <h1>user: <%= id %></h1>
    <h1>user lenght: <%= id.length %></h1>
</body>
</html>