//- viết file .pug thì tab phải chuẩn, ko đc thừa dấu cách nào ở đầu dòng
//-#{ } template để đặt tên biến, là name
extends ../common.pug

block content
    h1 hello world: #{name}
    a(href="/users") user list